<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Balloon Order page - Welcome and choose a Balloon</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<main>
    <div class="container ">
        <h1>Welcome to our Balloon Shop App</h1>
        <h5 class="text-center text-danger"></h5>
        <form th:action="@{'/balloons/sort'}" method="POST">

            <button type="submit" class="btn btn-primary">Sort</button>
        </form>
        <div th:if="${hasError}">
            <h5 class="text-center text-danger" th:text="${error}"></h5>
        </div>
        <div class="col mb-3">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <a href="/balloons/add-form" class="btn btn-block btn-dark">Add new product</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12" th:if="${balloonsUpdated.size() > 0}">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Balloon name</th>
                            <th scope="col">Balloon Desc</th>
                            <th scope="col">Balloon Manufacturer</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="balloon : ${balloonsUpdated}">
                            <td th:text="${balloon.getName()}"></td>
                            <td th:text="${balloon.getDescription()}"></td>
                            <td th:text="${balloon.getManufacturer() != null}
                            ? ${balloon.getManufacturer().getName()} : 'No Manufacturer'"></td>

                            <td>
                            <td>
                                <form th:action="@{'/balloons/delete/{id}' (id=${balloon.getId()})}" th:method="DELETE">
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </td>
                            <td><a th:href="@{/balloons/edit-form/{id}(id=${balloon.getId()})}">Edit</a></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <h2>Choose balloon color:</h2>
        <form th:method="POST" th:action="@{/list}">
            <input type="radio" name="color" value="Red Balloon"> Red Balloon<br/>
            <input type="radio" name="color" value="Green Balloon"> Green Balloon<br/>
            <input type="radio" name="color" value="Yellow Balloon"> Yellow Balloon<br/>
            <input type="radio" name="color" value="Blue Balloon"> Blue Balloon<br/>
            <br/>

            <input type='submit' th:value="Submit"/>
        </form>
    </div>


</main>
</body>
</html>